# Ignore unnecessary files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.db
*.sqlite3
*.env
.env/
venv/
.venv/
node_modules/
frontend/node_modules/
backend/__pycache__/
*.log
*.ipynb_checkpoints
.git/
.gitignore
.idea/
.vscode/
uploads/
datasets/
data/
*.jpg
*.png
*.jpeg
*.mp4
*.avi
*.zip
*.tar.gz
